body {
  font-family: monospace;
}

tr.title {
  background: #dddddd;
}

tr.row-frame {
  background: #eeeeee;
}

table.best-frames {
  border-collapse: collapse;
  text-align: right;
}

table.best-frames td {
  border: 1px solid #eeeeee;
  padding: 0px 2px;
}

table.best-frames tr.row-frame {
  text-align: left;
}